body {
    background-image: url('../images/cloud.svg'), url('../images/team2.png');
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 60%;
    font-family: Nunito, sans-serif;
}

#row_top_bar {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 14.06%, rgba(255, 255, 255, 0.8) 85.42%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(111px);
}

#user_session_nav {
    font-family: Nunito-Bold, sans-serif;
}

#user_session_nav a {
    padding: 0.6rem 1rem;
    margin-right: 1rem;
}

#signup {
    /* Soft Shadow */
    box-shadow: 0 7px 20px rgba(49, 69, 255, 0.13);
    border-radius: 8px;
}