body {
	font-family: "Manrope", "Tahoma", sans-serif;
	background-color: black;
	color: beige;
}

header {
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row {
	display: flex;
	justify-content: center;
}

.tile {
	width: 18%;
	background-color: beige;
	color: black;
	border-radius: 0.4em;
	margin: 0 1em 1em 0;
	padding: 2.1em 2em;
}

.feature_icon {
	width: 2em;
	height: 2em;
	margin-bottom: 2em;
}

.tile p {
	text-align: justify;
	margin-bottom: 3em;
}

a.expand {
	color: #8C30F5;
	text-decoration: none;
}

.explore {
	display: flex;
	justify-content: center;
}

.explore button {
	background-color: black;
	border-radius: 0.4em;
	color: beige;
	width: 8em;
	padding: 0.7em 0;
}
